.weather {
  font-family: Arial, Helvetica, sans-serif;
  padding: 16 px;
  border: 1px solid plum;
  padding: 16px;
  margin: 30px auto;
  max-width: 800px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}

.weather form {
  margin-bottom: 30px;
}

.weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
